<div class="create_event_design row wraper">
  <div class="row">
    <div class="col-md-12">
      <div class="iconf_title">Create Session for <span class=" fw400 text-grey"> (<%= @event.name %>) </span></div>
    </div>
  </div>
  <%= render partial: 'form', locals: { read: false } %>
</div>