<div class='result-container'>
  <%= render partial: 'events/events_category', locals: { path: i_am_attending_users_path } %>
  <div id='attending_events'>
    <%= render partial: '/events/events', locals: { events: @events, message: "You are not attending any event" } %>
    <%= will_paginate @events, class: 'bottom-pagination wraper pull-right h4 mtop20 text-grey' %>
  </div>
</div>