<div class='result-container'>
  <%= render partial: 'events/events_category', locals: { path: i_am_attending_users_path } %>
  <div id='attending_events'>
    <% if @events.empty? %>
      <h3 class="text-center mtop55 text-blue back-blue p5 wraper"> You are not attending any event </h3>
    <% else %>
      <%= render @events %>
      <%= will_paginate @events, class: 'bottom-pagination' %>
    <% end %>
  </div>
</div>