<br>
<% if @events.empty? %>
  <h3 class="text-center mtop55 text-blue back-blue p5 wraper"> <%= message %> </h3>
<% else %>
  <%= will_paginate @events, remote: true %>
  <%= render @events %>
<% end %>
<br>
