<div class='result-container'>
  <% if admin_signed_in? %>
    <%= render partial: '/events/events_category', locals: { path: admin_events_path } %>
  <% else %>
    <%= render partial: '/events/events_category', locals: { path: events_path } %>
  <% end %>
  <div id='all_events'>
    <% if @events.empty? %>
      <h3 class="text-center mtop55 text-blue back-blue p5 wraper"> No events </h3>
    <% else %>
      <%= render partial: '/events/event', collection: @events %>
      <%= will_paginate @events, class: 'bottom-pagination' %>
    <% end %>
  </div>
</div>