<%= form_tag(filter_events_path, method: :get, class: 'category', remote: true) do %>
  <%= radio_button :events, 'filter', 'upcoming', checked: true %>OnGoing/Upcoming
  <%= radio_button :events, 'filter', 'past' %>Past
  <%= submit_tag 'submit', id: 'categorySubmit' %>
<% end %>
<div id='events' >
</div>
