$('#results').html('<%= escape_javascript render partial: "events",
  locals: { message: "Did not find any such events" } %>')
  .prepend('<div class="event_radio_list wraper">OnGoing/Upcoming </div>');