<%= form_tag(search_filter_events_path, method: :get, class: 'category', remote: true) do %>
  <%= radio_button :events, 'filter', 'upcoming', checked: true %>
  <span id='upcomingLabel'>OnGoing/Upcoming</span>
  <%= radio_button :events, 'filter', 'past' %>
  <span id='pastLabel'>Past</span>
  <%= submit_tag 'submit', id: 'categorySubmit' %>
<% end %>
<div id='events' >
</div>
