<h1>Listing event_sessions</h1>

<table>
  <thead>
    <tr>
      <th>Topic</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
      <th>Description</th>
      <th>Speaker</th>
      <th>Status</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @event_sessions %>
  </tbody>
</table>

<br>

<%= link_to 'New Event session', new_event_session_path %>
