.event-dropdown {
  .dropdown-menu {
    margin:0;
  }

  &:hover .dropdown-menu {
    display:block;
  }

}
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  input, textarea, select {
    border:1px solid red !important;
    }
}

#error_explanation {
  width: 100%;
  padding: 7px;
  padding-bottom: 0;
  margin: 20px 0;
  background-color: #f0f0f0;
  overflow: hidden;
  border-radius: 5px;
  h2 {
    text-align: left;
    padding: 7px 7px 7px 15px;
    font-size: 16px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
