<tr class="hover_fix">
  <td class="h5 dark-grey"><%= user.name %></td>
  <td class="h5 dark-grey"><%= link_to user.handle, user.handle %></td>
  <% if user.enabled %>
    <td class="h5 dark-grey"><%= link_to 'disable', disable_admin_users_path(id: user) %>
  <% else %>
    <td class="h5 dark-grey"><%= link_to 'enable', enable_admin_users_path(id: user) %>
  <% end %>
</tr>
