<br>
<% if @users.empty? %>
  <h3 class="text-center mtop55 text-blue back-blue p5 wraper"> No User Exists </h3>
<% else %>
  <%= will_paginate @users, remote: true, class: 'pagination bottom-pagination wraper pull-right h4 mtop20 text-grey' %>
  <div class="wraper">
    <table class="table">
      <thead>
        <tr class="back-blue">
          <th class="h4 text-blue">Name</th>
          <th class="h4 text-blue">Twitter Handle</th>
          <th class="h4 text-blue">Status</th>
        </tr>
      </thead>
      <tbody>
        <%= render @users %>
      </tbody>
    </table>
  </div>
<% end %>
<br>