<!DOCTYPE html>
<html>
  <head>
    <%= render 'shared/head' %>
  </head>
  <body>
    <div class="bh100">
      <header>
        <%= render 'shared/navigation' %>
      </header>
      <main role="main">
        <%= render 'shared/messages' %>
        <div id='mainView'>
          <div id='results'>
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
    <footer>
      <div class='container'>
        <div class='row h100'>
          <div class='col-md-3 fleft h100'>
            <div class='title'>
              Application
            </div>
            <div>
              Share and save visiting cards with the attendees while in conference or in an event
            </div>
            <div class='app_store_logo'></div>
          </div>
          <div class='col-md-9 fright'>
            <div class='row'>
              <div class='col-md-4'>
                <div class='i-conf-logo'>
                </div>
                <p>
                  <a href="#">Who We Are</a>
                </p>
                <p>
                  <a href="#">Terms of Use</a>
                </p>
                <p>
                  <a href="#">Privacy Policy</a>
                </p>
              </div>
              <div class='col-md-4'>
                <div class='title'>
                  Contact
                </div>
                <p>
                  <a href="#">Event Sponsorship</a>
                </p>
                <p>
                  <a href="#">Send Us A Tip</a>
                </p>
                <p>
                  <a href="#">General Inquiries</a>
                </p>
                <p>
                <a href="#">Report a Problem</a>
                </p>
              </div>
              <div class='col-md-4'>
                <div class='title'>
                  Follow
                </div>
                <p>
                  <a href="#">Facebook</a>
                </p>
                <p>
                  <a href="#">Twitter</a>
                </p>
                <p>
                  <a href="#">Google+</a>
                </p>
                <p>
                <a href="#">RSS</a>
                </p>
              </div>
            </div>
            <div class='row'>
              <div class='col-md-12 text-center lh80'>
                Copyrights &copy; 2014 iConfConnect |
                <a href='http://vinsol.com/' target='_blank'>Powered by Vinsol</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
